:root {
  --davys-grey: #584d62;
  --dark-purple: #24053e;
}

.socialProofWrapper {
  margin-top: 2.5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialProofNumber {
  border-radius: 50%;
  border: 1px solid var(--davys-grey);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-purple);
  text-align: center;
  font-family: Fraunces;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
}

.socialProofContentWrapper {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.socialProofTitle {
  color: var(--dark-purple);
  text-align: center;
  font-family: Fraunces;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.25rem;
}

.socialProofDescriptionWrapper {
  margin-top: 1rem;
  width: 21.4375rem;
}

.socialProofDescription {
  color: var(--davys-grey);
  text-align: center;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

@media screen and (min-width: 48rem) {
  .socialProofWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35rem;
  }

  .socialProofContentWrapper {
    margin-top: 0;
  }

  .socialProofTitle {
    text-align: left;
  }

  .socialProofDescriptionWrapper {
    margin-top: 1rem;
    width: 30rem;
  }

  .socialProofDescription {
    text-align: left;
  }
}

@media screen and (min-width: 90rem) {
  .socialProofWrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 22rem;
  }

  .socialProofNumber {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .socialProofContentWrapper {
    margin-top: 3.5rem;
  }

  .socialProofTitle {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .socialProofDescriptionWrapper {
    margin-top: 1.75rem;
    width: 22.125rem;
  }

  .socialProofDescription {
    text-align: center;
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
